/*

*/

body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #666;
    background: #e5e5e5 url(images/templatmeo_body_top.jpg) repeat-x top;
}
		
a:link, a:visited { color: #0066FF; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #009900; text-decoration: underline; }

h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }

.more a {
	display: block;
	width: 82px;
	height: 23px;
	padding: 3px 0 0 0;
	background: url(images/templatemo_button.png) no-repeat;
	color: #777777;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.more a:hover {
	color: #c85d16;
}

#templatmeo_wrapper {
	width: 970px;
	margin: 0 auto;
}

/* header */

#templatemo_header {
	clear: both;
	width: 910px;
	height: 100px;
	padding: 10px 30px;
	background: url(images/templatemo_header__.jpg) no-repeat;
}

#templatemo_header  #site_title {
	float: left;
	width: 300px;
	padding-top: 10px;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

#templatemo_header  #site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header  #site_title h1 a span {
	display: block;
	margin-top: 5px;
	font-size: 12px;
	color: #5d5b5b;
	font-weight: bold;
	letter-spacing: 2px;
}

#templatemo_header #header_right {
	float: right;
}

#header_right #header_button {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

#header_button li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#header_button li a {
	float: left;
	display: block;
	width: 48px;
	height: 48px;
	margin-left: 10px;
}

#header_right form {
	margin: 10px 0 0 0;
	padding: 0;
}

#searchfield {
	height: 18px;
	width: 170px;
	padding: 6px 5px 4px 5px;
	margin: 0 5px 0 0;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

#searchbutton {
 	height: 30px;
	width: 72px;
	margin: 0px;
	padding: 6px 0 0 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	color: #ffffff;
	background: url(images/search_button.jpg); 
	border: none;
}

/* end of header */

/* banner */

#templatemo_banner {
	width: 970px;
	height: 280px;
	padding: 10px 0;
}

#templatemo_banner #banner_box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_banner #banner_box li {
	margin: 0;
	padding: 0;
	display: inline;
}

#templatemo_banner #banner_box li a {
	position: relative;
	display: block;
	float: left;
	width: 230px;
	height: 280px;
	margin-left: 10px;
}

#templatemo_banner #banner_box li span {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 230px;
	height: 217px;
}

#templatemo_banner #banner_box li a span:hover {
	background: url(images/templatemo_banner_hover.png) no-repeat;
}

#templatemo_banner #banner_box li .current {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 230px;
	height: 217px;
	background: url(images/templatemo_banner_hover.png) no-repeat;
}
/* end of banner */

/* menu */

#templatemo_menu {
	width: 950px;
	height: 50px;
	padding: 0 10px;
	background: url(images/templatemo_menu.png) no-repeat center top;
}

#templatemo_menu ul {
	margin: 0px;
	padding: 15px 0 0 15px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	margin-right: 40px;
	font-size: 14px;
	text-decoration: none;
	color: #666666;	
	font-weight: normal;
	outline: none;
}
#templatemo_menu ul li a:hover {
	color: #009900;
}

/* end of menu */

.templatemo_box {
	margin-bottom: 10px;
	background: url(images/templatemo_box_body.jpg) repeat-y right;
}

.templatemo_box .body {
	padding: 5px 15px 5px 15px;
}

.templatemo_box h2 {
	position: relative;
	height: 25px;
	margin: 0;
	padding: 8px 15px;
	font-size: 14px;
	color: #048dc6;
	font-weight: bold;
	background: url(images/templatemo_box_tr.jpg) no-repeat top right; 
}

.templatemo_box h2 span {
	position: absolute;
	width: 10px;
	height: 35px;
	top: 0;
	left: 0;
	background: url(images/templatemo_box_tl__.jpg);
}

.templatemo_box .box_bottom {
	position: relative;
	height: 12px;
	background: url(images/templatemo_box_br.jpg) top right;
}

.templatemo_box .box_bottom span {
	position: absolute;
	width: 10px;
	height: 12px;
	top: 0;
	left: 0;
	background: url(images/templatemo_box_bl.jpg);
}

.side_menu {
	list-style: none;
	padding: 0px;
	margin: 0 0 0 0;
}

.side_menu li {
	padding: 0;
	margin: 5px 0;
}

.side_menu li a {
	display: block;
	color: #666;
	padding: 0px 15px;
	font-weight: normal;
	text-decoration: none;
	background: url(images/templatemo_menu_list.png) left center no-repeat;
}

.side_menu li a:hover {
	color: #c85d16;
}

/* content*/

#templatemo_content_wrapper {
	clear: both;
	padding: 10px;
}

#templatemo_left_sidebar {
	float: left;
	margin-right: 10px;
	width: 230px;
}

#templatemo_right_sidebar {
	float: right;
	width: 470px;
}

#templatemo_content {
	float: left;
	width: 230px;
}

.news_image {
	float: left;
	margin: 3px 15px 0 0;
	border: 5px solid #e5e5e5;
}

.news_box {
	clear: both;
	margin-bottom:20px;
}
	
.news_box h3{
	font-size: 14px;
	margin: 0 0 10px 0;
}

.sidebar_box {
	margin-bottom: 10px;
}

/* footer */

#templatemo_footer_wrapper {
	background: #bfbfbf url(images/templatemo_footer.jpg) top repeat-x;
}

#templatemo_footer {
	width: 950px;
	padding: 30px 10px;
	margin: 0 auto;
	text-align: center;
	color: #ffffff;
}

#templatemo_footer a {
	color: #ffffff;
	font-weight: normal;
}

#templatemo_footer a:hover {
	color: #333333;
	font-weight: normal;
}


#templatemo_footer a:hover {
	text-decoration: none;
}

#templatemo_footer .footer_menu {
	margin: 0 0 10px 0;
	padding: 0px;
	list-style: none;
}

.footer_menu li {
	margin: 0px;
	padding: 0 20px;
	display: inline;
	border-right: 1px solid #666666;
}

.footer_menu .last_menu {
	border: none;
}

/* end of footer */